<!DOCTYPE html>
<html lang="en-US">
<meta name="keywords" content="p-value calculators" />
<meta charset="UTF-8" />

<head>
<title>P Value Calculators</title>
<link rel="stylesheet" href="assets/css/pvals.css">
</head>

<body>

<div id="wrapper">

<ul class="menu">
  <li><a href="pnormal.html">Normal Distribution</a></li>
  <li><a href="pchisq.html"><span class="greek">&chi;</span><sup>2</sup> Distribution</a></li>
  <li><a href="pt.html">t Distribution</a></li>
  <li><a href="pf.html">F Distribution</a></li>
</ul>

<br />

<h1>P-Value Calculators for Normal, <span class="greek">&chi;</span><sup>2</sup>, t and F Distributions</h1>
  
</div>   
</body>
</html>
